body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    background-color: #deedf5;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 50px;
  }
  
  table, th, td {
    border: 1px solid black;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
}
